<div class="container pt-5">
  <h1>Add a new cocktail</h1>
  <br>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :url %>
      <%= f.submit "Submit", class: "btn btn-primary button_submit" %>
    <% end %>
    <br>
  <%= link_to "Go back", cocktails_path, class: "btn btn-outline-dark button_back" %>
</div>
