<div class="container_cocktail">
  <div class="card text-center" style="width: 30%;">
    <div class="card-body">
      <%= image_tag @cocktail.url, width: 400, height: 300, crop: :fill %>
      <h5 class="card-title text-uppercase py-3"><%= @cocktail.name %></h5>
      <p class="card-text">
        <ul class="list-group">
          <% @cocktail.doses.each do |dose| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= dose.ingredient.name %>
              <span class="badge badge-primary badge-pill"><%= dose.description %></span>
            </li>
          <% end %>
        </ul>
      </p>
      <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary", id: "ingredient-add-button"%>
      <%= link_to "Go back", cocktails_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
</div>
